doctype html
html 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Dashboard 
        link(href="/../style.css", rel="stylesheet")
        link(href="/../reset.css", rel="stylesheet")
    body
        block body 
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js")
        script(src="/../script.js")
